.hamburgermenu {
    height: 75%;
    width: 5%;
    margin: 20px;
    &:hover{
        cursor: pointer;
    }
}

.menu {
    position: absolute;
    background-color: $menuColor;
    z-index: 10;
    width: 25%;
    height: 100vh;
    overflow: auto;
    right: 0px;
    box-shadow: -2px 1px hsla(0,0%,0%,.4);
    display: none;
    &:hover {
        box-shadow: -3px 5px 3px rgba(0,0,0,.6);
    }
    h5 {
        margin-left: 5%;
        text-align: center;
        font-family: "Patua One";
    }
    h6 {
        font-family: "Patua One";
        color: black;
        padding-left: 2%;
        margin-left: 0;
    }
}

.menuItems {
    margin-top: 10%;
    z-index: 10;
}

.nameBox {
    margin-left: 14%;
    width: 70%;
    height: 5%;
    margin-bottom: 10px;
    border: 1px solid black;
    font-size: 1rem;
    &:focus {
        box-shadow:inset 0 0 1px 1px hsla(215, 100%, 52%, 0.85);
        border: 2px solid blue;
    }
}

.button {
    margin-left: 27%;
    width: 45%;
    height: 2%;
    background-color: $buttonColor;
    color: $buttonFontColor;
    font-size: 0.5rem;
    &:hover {
        cursor: pointer;
    }
}

.search {
    padding: 1%;
    margin: 1%;
    margin-left: 3%;
    border: 1px solid hsla(0, 100%, 0%, .05);
}

.subcontainer {
    text-align: center;
    p {
        text-align: left;
        &:first-child {
            text-align: center;
        }
    }

}

.midcontainer {
    border: 1px solid hsla(0, 100%, 0%, .05);
    padding: 1%;
    text-align: center;
    p {
        margin-left: 17%;
        margin-right: 17%;
        text-align: left;
        &:nth-child(2) {
            text-align: center;
            padding: 0.05em;
            background-color: #EDF0F5;
        }
    }
}

.seeMatches {
    width: 80%;
    font-size: 0.5rem;
    border-radius: 0;
    &:hover {
        cursor: pointer;
    }
}

.score {
    font-size: 4rem;
    color: $headerColor;
    font-weight: bold;
    text-align: center;
    border: none;
    box-shadow: none;
}

.clear, .yearSelection, .typeFilter{
    position: relative;
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 0.5rem;
    left: -2%;
    width: 45%;
}

.clear {
    color: $paragraphBackground;
    background-color: $clearButton;
}

.name {
    cursor: pointer;
}

.table {
    border: 2px solid black;
    margin-top: 2%;
    background-color: $paragraphBackground;
    font-size: 0.5rem;
    width: 100%;
    height: 70%;
    @media screen and (max-width: 320px) {
        display: none;
    }
    tr:first-child {
        td:first-child {
            background-color: $hoverColor;
        }
    }

    tr {
        &:hover {
            background-color: $hoverColor;
        }
    }
    td, th {
        border: 1px solid black;
        text-align: center;
        width: 5%;
    }
}

.returnTable {
    position: relative;
    margin-left: 10px;
    font-size: 0.5rem;
    width:45%;
    left: -2%;
    &:hover {
        cursor: pointer;
    }
}

.surroundGraph {
    font-size: 0.4rem;
    width: 100%;
    // height: 70%;
}

.date {
    position: absolute;
    border-right: 0.5px solid black;
    border-bottom: 0.5px solid black;
    left:0px;
    top: 0px;
}

.opponent {
    position: absolute;
    font-weight: bold;
    font-size: 1em;
    left: 70px;
    top: 2px;
}

.gameScores {
    position: absolute;
    left: 30px;
    top: 100px;
}

.matchCard {
    height: 100%;
}
