$backgroundColor: #EDF0F5;
$headerColor: #3B5998;
$buttonColor: #F6F6F6;
$buttonFontColor: #222222;
$paragraphBackground: white;
$clearButton: red;
$menuColor: lightgrey;
$hintColor: darkblue;
$hoverColor: darkgrey;
