//Sets a baseline font size at 2% of viewport width so that rem can be used for responsive design
:root {
    font-size: 2vw;
}

body {
    background-color: $backgroundColor;
    position: relative;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: $headerColor;
    height: auto;
    width: 100%;
}

#top {
    margin-left: 5px;
    margin-top: 10px;
    width: 30%;
    height: 65%;
    cursor: pointer;
}

#background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -100;
    opacity: .1;
}

p {
    border: 0.5px solid hsla(0, 100%, 0%, .1);
    box-shadow: 0 2px 4px rgba(0,0,0,1);
    padding: 0.5em;
    margin: 20px;
    background-color: $paragraphBackground;
    max-width: 330px;
    font-size: 0.62rem;
    position: relative;
    &:hover {
        box-shadow: 3px 5px 3px rgba(0,0,0,.6);
        border: 1px solid hsla(0, 100%, 0%, 1);
    }
}

#rightSide {
    position: absolute;
    right: 30px;
}

h2 {
    font-size: 2rem;
    font-family: "Patua One";
}

h3 {
    margin-top: 20%;
    text-align: center;
    font-size: 1rem;
    font-family: "Patua One";
}

h4 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 1.5rem;
    font-family: "Patua One";
}

h5 {
    font-size: 1rem;
    font-family: "Patua One";
}

h6 {
    min-width: 70%;
    margin-left: 7%;
    color: $paragraphBackground;
    font-size: 0.5rem;
    width: 100%;
    font-family: "Patua One";
}

h1 {
    @extend h6;
    width:70%;
    font-size: 1.75rem;
    position: absolute;
    top: 0px;
    left: 60px;
    font-family: "Patua One";
}



#hint {
    position: relative;
    background-color: $hintColor;
    color: $paragraphBackground;
    height: 50%;
    width: 82%;
    left: 1.5%;
}

#placeholder {
    width:100%;
    height:40vh;
    /* Portrait and Landscape */
    @media screen
      and (device-width: 360px)
      and (device-height: 640px)
      and (-webkit-device-pixel-ratio: 3) {
          width:100%;
          height: 15vh;
    }

    /* Portrait */
    @media screen
      and (device-width: 360px)
      and (device-height: 640px)
      and (-webkit-device-pixel-ratio: 3)
      and (orientation: portrait) {
          width:100%;
          height: 15vh;
    }

    /* Landscape */
    @media screen
      and (device-width: 360px)
      and (device-height: 640px)
      and (-webkit-device-pixel-ratio: 3)
      and (orientation: landscape) {
          width:100%;
          height: 15vh;
    }
}

ol li {
    margin-right: 2%;
    font-size: 0.7rem;
}

a {
    font-size: 1rem;
}
