@import "fonts.scss";
@import "colors.scss";
//Sets a baseline font size at 2% of viewport width so that rem can be used for responsive design
:root {
    font-size: 2vw;
}

body {
    background-color: $backgroundColor;
    position: relative;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: $headerColor;
    height: auto;
    width: 100%;
}

#background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -100;
    opacity: .1;
}

.hamburgermenu {
    height: 75%;
    width: 5%;
    margin: 20px;
    &:hover{
        cursor: pointer;
    }
}

p {
    border: 0.5px solid hsla(0, 100%, 0%, .1);
    box-shadow: 0 2px 4px rgba(0,0,0,1);
    padding: 1em;
    margin: 20px;
    background-color: $paragraphBackground;
    max-width: 330px;
    font-size: 0.62rem;
    &:hover {
        box-shadow: 3px 5px 3px rgba(0,0,0,.6);
        border: 1px solid hsla(0, 100%, 0%, 1);
    }
}

.button {
    width: 45%;
    height: 2%;
    background-color: $buttonColor;
    color: $buttonFontColor;
    border-radius: 20px;
    font-size: 0.5rem;
    &:hover {
        cursor: pointer;
    }
}

.seeMatches {
    width: 80%;
    font-size: 0.5rem;

    &:hover {
        cursor: pointer;
    }
}

.nameBox {
    width: 70%;
    height: 5%;
    margin-bottom: 10px;
    border: 1px solid black;
    font-size: 1rem;
    &:focus {
        box-shadow:inset 0 0 1px 1px hsla(215, 100%, 52%, 0.85);
        border: 2px solid blue;
    }
}

.score {
    font-size: 4rem;
    color: $headerColor;
    font-weight: bold;
    text-align: center;
    border: none;
    box-shadow: none;
}

h2 {
    font-size: 2rem;
    font-family: "Patua One";
}

h3 {
    margin-top: 20%;
    text-align: center;
    font-size: 1rem;
    font-family: "Patua One";
}

h4 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 1.5rem;
    font-family: "Patua One";
}

h5 {
    font-size: 1rem;
    font-family: "Patua One";
}

h6 {
    min-width: 70%;
    margin-left: 2em;
    color: $paragraphBackground;
    font-size: 0.5rem;
    width: 100%;
    font-family: "Patua One";
}

.menu h6 {
    padding-left: 2%;
    margin-left: 0;
}
h1 {
    @extend h6;
    width:70%;
    font-size: 1.75rem;
    position: absolute;
    top: 0px;
    left: 60px;
    font-family: "Patua One";
}

.search {
    padding: 1%;
    margin: 1%;
    margin-left: 3%;
    border: 1px solid hsla(0, 100%, 0%, .05);
}

.subcontainer {
    text-align: center;
    p {
        text-align: left;
        &:first-child {
            text-align: center;
        }
    }

}

.midcontainer {
    border: 1px solid hsla(0, 100%, 0%, .05);
    padding: 1%;
    text-align: center;
    p {
        margin-left: 17%;
        text-align: left;
        &:nth-child(2) {
            text-align: center;
            padding: 0.05em;
            background-color: #EDF0F5;
        }
    }
}

.clear, .yearSelection, .typeFilter{
    position: relative;
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 0.5rem;
    width: 45%;
}

.clear {
    color: $paragraphBackground;
    background-color: $clearButton;
}

#rightSide {
    position: absolute;
    right: 10px;
}

.menu {
    position: absolute;
    background-color: $menuColor;
    z-index: 10;
    width: 25%;
    height: 100vh;
    right: 0px;
    box-shadow: -2px 1px hsla(0,0%,0%,.4);
    display: none;
    &:hover {
        box-shadow: -3px 5px 3px rgba(0,0,0,.6);
    }
    h5 {
        margin-left: 5%;
        text-align: center;
        font-family: "Patua One";
    }
    h6 {
        font-family: "Patua One";
        color: black;
    }
}

.menuItems {
    margin-top: 10%;
    z-index: 10;
}

a {
    font-size: 1rem;
}

#top {
    margin-left: 5px;
    margin-top: 10px;
    width: 30%;
    height: 65%;
    cursor: pointer;
}

.name {
    cursor: pointer;
}

#hint {
    background-color: $hintColor;
    color: $paragraphBackground;
    height: 50%;
    width: 82%;
}

.table {
    border: 2px solid black;
    margin-top: 2%;
    background-color: $paragraphBackground;
    font-size: 0.5rem;
    width: 100%;
    height: 70%;
    @media screen and (max-width: 320px) {
        display: none;
    }
    tr:first-child {
        td:first-child {
            background-color: $hoverColor;
        }
    }

    tr {
        &:hover {
            background-color: $hoverColor;
        }
    }
    td, th {
        border: 1px solid black;
        text-align: center;
        width: 5%;
    }
}

.returnTable {
    margin-left: 10px;
    font-size: 0.5rem;
    width:45%;
    &:hover {
        cursor: pointer;
    }
}

.surroundGraph {
    font-size: 0.4rem;
    width: 100%;
    // height: 70%;
}

#placeholder {
    width:100%;
    height:40vh;
    /* Portrait and Landscape */
    @media screen
      and (device-width: 360px)
      and (device-height: 640px)
      and (-webkit-device-pixel-ratio: 3) {
          width:100%;
          height: 15vh;
    }

    /* Portrait */
    @media screen
      and (device-width: 360px)
      and (device-height: 640px)
      and (-webkit-device-pixel-ratio: 3)
      and (orientation: portrait) {
          width:100%;
          height: 15vh;
    }

    /* Landscape */
    @media screen
      and (device-width: 360px)
      and (device-height: 640px)
      and (-webkit-device-pixel-ratio: 3)
      and (orientation: landscape) {
          width:100%;
          height: 15vh;
    }
}

ol li {
    margin-right: 2%;
}
