body {
    background-color: #EDF0F5;
    position: relative;
}

p {
    border: 0.5px solid hsla(0, 100%, 0%, .1);
    box-shadow: 0 2px 4px rgba(0,0,0,1);
    padding: 10px;
    margin: 20px;
    background-color: white;
    max-width: 330px;
}

p:hover {
  box-shadow: 3px 5px 3px rgba(0,0,0,.6);
  border: 1px solid hsla(0, 100%, 0%, 1);
}

.button {
    width: 100px;
    height: 25px;
    background-color: #F6F6F6;
    color: #222222;
    border-radius: 10px;
    font-size: 15px;
}

.button:hover {
    cursor: pointer;
}

.nameBox {
    width: 200px;
    height: 50px;
    margin-bottom: 10px;
    border: 1px solid black;
    font-size: 30px;
}

.score {
    font-size: 50px;
    color: blue;
    font-weight: bold;
    text-align: center;
    border: none;
    box-shadow: none;
}

h1, h6 {
    width: 70vw;
    margin: 2%;
    color: white;
}

div h5 {
    width: 300px;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #3B5998;
    margin: -10px;
    height: 15vh;
    width: 100vw;
}

.hamburgermenu {
    height: 50px;
    width: 50px;
    margin: 20px;
}

.hamburgermenu:hover {
    cursor: pointer;
}

.search {
    padding: 10px;
    margin: 20px;
    margin-left: 40px;
    border: 1px solid hsla(0, 100%, 0%, .05);
}

.midcontainer {
    border: 1px solid hsla(0, 100%, 0%, .05);
    padding: 10px;
    text-align: center;
}

.midcontainer p {
    margin-left: 90px;
    text-align: left;
}

.midcontainer p:nth-child(2) {
    text-align: center;
}

#background {
    position: absolute;
    top: 0;
    left: 0;
    width: 99vw;
    height: 100vh;
    z-index: -100;
    opacity: .1;
}

h4 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 20px;
}

.clear, .yearSelection, .typeFilter{
    position: relative;
    margin-left: 10px;
    margin-bottom: 10px;
}

.row div:nth-child(3) {
    position: absolute;
    right: 0;
}

.menu {
    position: absolute;
    background-color: lightgrey;
    z-index: 10;
    width: 250px;
    height: 100vh;
    right: 0px;
    box-shadow: -2px 1px hsla(0,0%,0%,.4);
    display: none;
}

.menu:hover {
    box-shadow: -3px 5px 3px rgba(0,0,0,.6);
    border-left: 1px solid hsla(0, 100%, 0%, 1);
    border-bottom: 1px solid hsla(0, 100%, 0%, 1);
}

.menuItems {
    margin-top: 60px;
    z-index: 10;
}

ul li {
    margin-top: 50px;
    font-size: 20px;
    color: darkblue;
    list-style-type: none;
}
