:root {
  font-size: 2vw; }

body {
  background-color: #EDF0F5;
  position: relative; }

header {
  display: flex;
  justify-content: space-between;
  background-color: #3B5998;
  margin: -1em;
  height: auto;
  width: 100vw; }

#background {
  position: absolute;
  top: 0;
  left: 0;
  width: 99vw;
  height: 100vh;
  z-index: -100;
  opacity: .1; }

.hamburgermenu {
  height: 75%;
  width: 5%;
  margin: 20px; }
  .hamburgermenu:hover {
    cursor: pointer; }

p {
  border: 0.5px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 4px black;
  padding: 1em;
  margin: 20px;
  background-color: white;
  max-width: 330px;
  font-size: 0.62rem; }
  p:hover {
    box-shadow: 3px 5px 3px rgba(0, 0, 0, 0.6);
    border: 1px solid black; }

.button {
  width: 25%;
  height: 2%;
  background-color: #F6F6F6;
  color: #222222;
  border-radius: 20px;
  font-size: 0.5rem; }
  .button:hover {
    cursor: pointer; }

.seeMatches {
  width: 50%;
  font-size: 0.5rem; }
  .seeMatches:hover {
    cursor: pointer; }

.nameBox {
  width: 70%;
  height: 5%;
  margin-bottom: 10px;
  border: 1px solid black;
  font-size: 1rem; }
  .nameBox:focus {
    box-shadow: inset 0 0 1px 1px rgba(10, 112, 255, 0.85);
    border: 2px solid blue; }

.score {
  font-size: 4rem;
  color: blue;
  font-weight: bold;
  text-align: center;
  border: none;
  box-shadow: none; }

h2 {
  font-size: 2rem; }

h3 {
  margin-top: 20%;
  text-align: center;
  font-size: 1rem; }

h4 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 1.5rem; }

h5 {
  font-size: 1rem; }

h6, h1 {
  min-width: 70%;
  margin-left: 2em;
  color: white;
  font-size: 0.5rem;
  width: 100%; }

h1 {
  width: 70%;
  font-size: 1.75rem;
  position: absolute;
  top: 10px;
  left: 60px; }

.search {
  padding: 1%;
  margin: 1%;
  margin-left: 3%;
  border: 1px solid rgba(0, 0, 0, 0.05); }

.subcontainer {
  text-align: center; }
  .subcontainer p {
    text-align: left; }
    .subcontainer p:first-child {
      text-align: center; }

.midcontainer {
  border: 1px solid rgba(0, 0, 0, 0.05);
  padding: 1%;
  text-align: center; }
  .midcontainer p {
    margin-left: 17%;
    text-align: left; }
    .midcontainer p:nth-child(2) {
      text-align: center;
      padding: 0.05em;
      background-color: #EDF0F5; }

.clear, .yearSelection, .typeFilter {
  position: relative;
  margin-left: 10px;
  margin-bottom: 10px;
  font-size: 0.5rem;
  width: 45%; }

.clear {
  color: white;
  background-color: red; }

#rightSide {
  position: absolute;
  right: 0; }

.menu {
  position: absolute;
  background-color: lightgrey;
  z-index: 10;
  width: 25%;
  height: 100vh;
  right: 0px;
  box-shadow: -2px 1px rgba(0, 0, 0, 0.4);
  display: none; }
  .menu:hover {
    box-shadow: -3px 5px 3px rgba(0, 0, 0, 0.6);
    border-left: 1px solid black;
    border-bottom: 1px solid black; }
  .menu h2 {
    margin-top: 10%;
    text-align: center; }

.menuItems {
  margin-top: 10%;
  z-index: 10; }

ul li {
  margin-top: 10%;
  font-size: 1.5rem;
  color: darkblue;
  list-style-type: none; }

a {
  font-size: 1rem; }

#top {
  margin-left: 20px;
  margin-top: 20px;
  width: 30%;
  height: 65%;
  cursor: pointer; }

.name {
  cursor: pointer; }

#hint {
  background-color: darkblue;
  color: white;
  height: 50%;
  width: 82%; }

.table {
  border: 2px solid black;
  margin-top: 2%;
  background-color: white;
  font-size: 0.5rem;
  width: 95%;
  height: 70%; }
  .table tr:first-child td:first-child {
    background-color: darkgrey; }
  .table tr:hover {
    background-color: darkgrey; }
  .table td, .table th {
    border: 1px solid black;
    text-align: center; }
  @media only screen and (max-width: 768px) {
    .table {
      width: 10%;
      height: 15vh; } }

.returnTable {
  margin-left: 10px;
  font-size: 0.5rem;
  width: 45%; }
  .returnTable:hover {
    cursor: pointer; }

.surroundGraph {
  font-size: 0.4rem;
  width: 100%; }

#placeholder {
  width: 95%;
  height: 40vh; }
  @media only screen and (max-width: 768px) {
    #placeholder {
      width: 100%;
      height: 15vh; } }
