body {
    background-color: #EDF0F5;
    position: relative;
}

p {
    border: 0.5px solid hsla(0, 100%, 0%, .1);
    box-shadow: 0 2px 4px rgba(0,0,0,1);
    padding: 10px;
    margin: 20px;
    background-color: white;
    max-width: 300px;
}

p:hover {
  box-shadow: 3px 5px 3px rgba(0,0,0,.6);
  border: 1px solid hsla(0, 100%, 0%, 1);
}

.button {
    width: 100px;
    height: 25px;
    background-color: #F6F6F6;
    color: #222222;
    border-radius: 10px;
    font-size: 15px;
}

#button:hover, #button2:hover {
    cursor: pointer;
}

.nameBox {
    width: 200px;
    height: 50px;
    margin-bottom: 10px;
    border: 1px solid black;
    font-size: 30px;
}

.container {
    display: flex;
    height: 100%;
    flex-direction: row;
    justify-content: space-between;
}

.score {
    font-size: 50px;
    color: blue;
    font-weight: bold;
    text-align: center;
    border: none;
    box-shadow: none;
}

h1, h6 {
    width: 700px;
    margin: 20px;
    color: white;
}

div h5 {
    width: 300px;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #3B5998;
    margin: -10px;
}

.hamburgermenu {
    height: 50px;
    width: 50px;
    margin: 20px;
}

.search {
    padding: 10px;
    margin: 30px;
    border: 1px solid hsla(0, 100%, 0%, .05);
}

.midcontainer {
    border: 1px solid hsla(0, 100%, 0%, .05);
    padding: 10px;
}

#background {
    position: absolute;
    top: 0;
    left: 0;
    width: 99vw;
    height: 100vh;
    z-index: -100;
    opacity: .1;
}

h4 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 20px;
}

.clear, .yearSelection, .typeFilter{
    position: relative;
    margin-left: 20px;
}
