body {
    background-color: #EDF0F5;
}

p {
    border: 0.5px solid hsla(0, 100%, 0%, 30);
    box-shadow: 1px 1px 1px grey;
    padding: 10px;
    margin: 20px;
    max-width: 300px;
    background-color: white;
}

p:hover {
    color: blue;
    box-shadow: 10px 5px 5px black:
    border: 3px solid black;
}

#button, #button2 {
    width: 100px;
    height: 25px;
    background-color: #F6F6F6;
    color: #222222;
    border-radius: 10px;
    font-size: 15px;
}

#button:hover, #button2:hover {
    cursor: pointer;
}

#nameBox, #nameBox2 {
    width: 200px;
    height: 50px;
    margin-bottom: 10px;
    border: 1px solid black;
    font-size: 30px;
}

.container {
    display: flex;
    height: 100%;
    flex-direction: row;
    justify-content: space-between;
}

.score {
    font-size: 50px;
    color: blue;
    font-weight: bold;
    text-align: center;
    border: none;
    box-shadow: none;
}

h1, h6 {
    width: 700px;
    margin: 20px;
    color: white;
}

div h5 {
    width: 300px;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #3B5998;
    margin: -10px;
}

.hamburgermenu {
    height: 50px;
    width: 50px;
    margin: 20px;
}

#search1, #search2 {
    padding: 10px;
    margin: 30px;
    border: 1px solid hsla(0, 100%, 0%, .1);
}

.midcontainer {
    border: 1px solid hsla(0, 100%, 0%, .1);
    padding: 10px;
}
