@import url(https://fonts.googleapis.com/css?family=Patua+One);
:root {
  font-size: 2vw; }

body {
  background-color: #EDF0F5;
  position: relative; }

header {
  display: flex;
  justify-content: space-between;
  background-color: #3B5998;
  height: auto;
  width: 100%; }

#top {
  margin-left: 5px;
  margin-top: 10px;
  width: 30%;
  height: 65%;
  cursor: pointer; }

#background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -100;
  opacity: .1; }

p {
  border: 0.5px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 4px black;
  padding: 0.5em;
  margin: 20px;
  background-color: white;
  max-width: 330px;
  font-size: 0.62rem;
  position: relative; }
  p:hover {
    box-shadow: 3px 5px 3px rgba(0, 0, 0, 0.6);
    border: 1px solid black; }

#rightSide {
  position: absolute;
  right: 30px; }

h2 {
  font-size: 2rem;
  font-family: "Patua One"; }

h3 {
  margin-top: 20%;
  text-align: center;
  font-size: 1rem;
  font-family: "Patua One"; }

h4 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 1.5rem;
  font-family: "Patua One"; }

h5 {
  font-size: 1rem;
  font-family: "Patua One"; }

h6, h1 {
  min-width: 70%;
  margin-left: 7%;
  color: white;
  font-size: 0.5rem;
  width: 100%;
  font-family: "Patua One"; }

h1 {
  width: 70%;
  font-size: 1.75rem;
  position: absolute;
  top: 0px;
  left: 60px;
  font-family: "Patua One"; }

#hint {
  position: relative;
  background-color: darkblue;
  color: white;
  height: 50%;
  width: 82%;
  left: 1.5%; }

#placeholder {
  width: 100%;
  height: 40vh;
  /* Portrait and Landscape */
  /* Portrait */
  /* Landscape */ }
  @media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) {
    #placeholder {
      width: 100%;
      height: 15vh; } }
  @media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {
    #placeholder {
      width: 100%;
      height: 15vh; } }
  @media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape) {
    #placeholder {
      width: 100%;
      height: 15vh; } }

ol li {
  margin-right: 2%;
  font-size: 0.7rem; }

a {
  font-size: 1rem; }

.hamburgermenu {
  height: 75%;
  width: 5%;
  margin: 20px; }
  .hamburgermenu:hover {
    cursor: pointer; }

.menu {
  position: absolute;
  background-color: lightgrey;
  z-index: 10;
  width: 25%;
  height: 100vh;
  overflow: auto;
  right: 0px;
  box-shadow: -2px 1px rgba(0, 0, 0, 0.4);
  display: none; }
  .menu:hover {
    box-shadow: -3px 5px 3px rgba(0, 0, 0, 0.6); }
  .menu h5 {
    margin-left: 5%;
    text-align: center;
    font-family: "Patua One"; }
  .menu h6, .menu h1 {
    font-family: "Patua One";
    color: black;
    padding-left: 2%;
    margin-left: 0; }

.menuItems {
  margin-top: 10%;
  z-index: 10; }

.nameBox {
  margin-left: 14%;
  width: 70%;
  height: 5%;
  margin-bottom: 10px;
  border: 1px solid black;
  font-size: 1rem; }
  .nameBox:focus {
    box-shadow: inset 0 0 1px 1px rgba(10, 112, 255, 0.85);
    border: 2px solid blue; }

.button {
  margin-left: 27%;
  width: 45%;
  height: 2%;
  background-color: #F6F6F6;
  color: #222222;
  font-size: 0.5rem; }
  .button:hover {
    cursor: pointer; }

.search {
  padding: 1%;
  margin: 1%;
  margin-left: 3%;
  border: 1px solid rgba(0, 0, 0, 0.05); }

.subcontainer {
  text-align: center; }
  .subcontainer p {
    text-align: left; }
    .subcontainer p:first-child {
      text-align: center; }

.midcontainer {
  border: 1px solid rgba(0, 0, 0, 0.05);
  padding: 1%;
  text-align: center; }
  .midcontainer p {
    margin-left: 17%;
    margin-right: 17%;
    text-align: left; }
    .midcontainer p:nth-child(2) {
      text-align: center;
      padding: 0.05em;
      background-color: #EDF0F5; }

.seeMatches {
  width: 80%;
  font-size: 0.5rem;
  border-radius: 0; }
  .seeMatches:hover {
    cursor: pointer; }

.score {
  font-size: 4rem;
  color: #3B5998;
  font-weight: bold;
  text-align: center;
  border: none;
  box-shadow: none; }

.clear, .yearSelection, .typeFilter {
  position: relative;
  margin-left: 10px;
  margin-bottom: 10px;
  font-size: 0.5rem;
  left: -2%;
  width: 45%; }

.clear {
  color: white;
  background-color: red; }

.name {
  cursor: pointer; }

.table {
  border: 2px solid black;
  margin-top: 2%;
  background-color: white;
  font-size: 0.5rem;
  width: 100%;
  height: 70%; }
  @media screen and (max-width: 320px) {
    .table {
      display: none; } }
  .table tr:first-child td:first-child {
    background-color: darkgrey; }
  .table tr:hover {
    background-color: darkgrey; }
  .table td, .table th {
    border: 1px solid black;
    text-align: center;
    width: 5%; }

.returnTable {
  position: relative;
  margin-left: 10px;
  font-size: 0.5rem;
  width: 45%;
  left: -2%; }
  .returnTable:hover {
    cursor: pointer; }

.surroundGraph {
  font-size: 0.4rem;
  width: 100%; }

.date {
  position: absolute;
  border-right: 0.5px solid black;
  border-bottom: 0.5px solid black;
  left: 0px;
  top: 0px; }

.opponent {
  position: absolute;
  font-weight: bold;
  font-size: 1em;
  left: 70px;
  top: 2px; }

.gameScores {
  position: absolute;
  left: 30px;
  top: 100px; }

.matchCard {
  height: 100%; }
